#container {
  position: absolute;
  top: 10px;
  width: 100%;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 100;
  pointer-events: none;
}

@font-face {
    font-family: gameFont;
    src: url(Chomsky.otf);
}

#score {
  display: flex;
  background-color: rgb(223, 223, 223);
  margin: auto;
  width: 50%;
  align-self: center;
  margin-top: 50px;
  border-radius: 10px;
  flex-direction: row;
  padding: 2.5vb;
  font-family: 'gameFont';
  font-size: xx-large;
  z-index: 200;
}

#timer {
    margin-left: 8vb;
}

#flips {
    margin-left: 70vb;
}
body {
    pointer-events: none;
    overflow: hidden;
}

#main_canvas {
    position: absolute;
  top: 10px;
  width: 100%;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 100;
  pointer-events: none;
}

#win_screen {
    display: flex;
  background-color: rgba(44, 2, 2, 0.737);
  margin: auto;
  width: 50%;
  align-self: center;
  margin-top: 0px;
  border-radius: 10px;
  flex-direction: row;
  padding: 100vb;
  font-family: 'gameFont';
  font-size: xx-large;
  z-index: 205;
  position: absolute;
}

/* #lose_screen {
    display: flex;
  background-color: rgba(44, 2, 2, 0.737);
  margin: auto;
  width: 50%;
  align-self: center;
  margin-top: 0px;
  border-radius: 10px;
  flex-direction: row;
  padding: 100vb;
  font-family: 'gameFont';
  font-size: xx-large;
  z-index: 205;
  position: absolute;
  background-image: radial-gradient(29% 72% at 92% 12%, #FFFF 23%, #ff0000 100%);
} */